* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav {
    height: 12.5%;
    display: flex;
    padding: 1em;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    display: none;
}

.logo {
    width: 23.19%;
}

.hamburger-menu {
    margin-top: 1.5em;
}

.heading-container {
    background: #FAFAFA;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading-image {
    background: #FAFAFA;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.food-app-text {
    padding-top: 50px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    /* second text */
    color: #737373;
}

.main-heading {
    margin-top: 17px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.2px;
    color: #252B42;
    text-align: center;
}

.sub-heading {
    text-align: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 38px;
    margin-top: 27px;
    margin-bottom: 50px;
    letter-spacing: 0.2px;
    color: #737373;
}

.buttons {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;

}

.buttons div {
    padding: 1em 3em;
    margin-bottom: 1em;
    border-radius: 30px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;

    /* identical to box height, or 150% */
    letter-spacing: 0.1px;

    /* Light text */


}

.buttons div:nth-child(1) {
    background: #FA4A0C;
    color: #FFFFFF;
}

.buttons div:nth-child(2) {
    background: #FFFFFF;
    color: #FA4A0C;
    border: 1px solid #FA4A0C;
}

.tilted-phones {
    display: flex;
    justify-content: center;
}


.tilted-phones div:nth-child(1) {
    position: relative;
    bottom: 120px;
    left: 52px;

}

.tilted-phones div:nth-child(2) img {
    width: 222px;

}

.tilted-phones div:nth-child(1) img {
    width: 475px;

}

.tilted-phones div:nth-child(2) {
    position: relative;
    top: 51px;
    right: 142px;


}

.divider-container {
    position: relative;
    bottom: 100px;
    display: flex;
    flex-direction: column;
}

.divider-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 49px;

    /* identical to box height, or 150% */
    text-align: center;
    letter-spacing: 0.1px;

    color: #000000;


}

.divider {
    width: 100vw;
    border: 3px solid #E4E4E4;
}

.content {
    display: flex;

    flex-direction: column;
    align-items: center;
}

.content div div:nth-child(1) {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;

    /* identical to box height, or 150% */
    text-align: center;
    letter-spacing: 0.1px;

    color: #FA4A0C;
    margin-bottom: 40px;
}

.content div div:nth-child(2) {
    word-wrap: break-word;
    font-family: 'Montserrat';
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 57px;
    text-align: center;

    /* or 142% */
    letter-spacing: 0.2px;

    @media screen and (min-width: 810px) {
        /* CSS rules for screens with a width greater than 810 pixels */
        /* Add your styles here */
    }

    /* text */
    color: #252B42;
    margin-bottom: 50px;

}

.content div div:nth-child(3) {
    text-align: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 38px;

    /* or 158% */
    text-align: center;
    letter-spacing: 0.2px;

    /* second text */
    color: #737373;

}

.content img {
    max-width: 100vw;
    position: relative;
    left: 30px;
    object-fit: contain;

}




.download {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #252B42;
}

.download-heading {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 57px;

    /* or 142% */
    text-align: center;
    letter-spacing: 0.2px;

    /* Light text */
    color: #FFFFFF;
    margin-top: 120px;
}

.download-text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 38px;

    /* or 158% */
    text-align: center;
    letter-spacing: 0.2px;

    /* Light Gray */
    color: #BDBDBD;


}

.download-buttons {
    margin-top: 54px;
    margin-bottom: 112px;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.Hero-btn-1 {
    margin: 0 20px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;

    /* identical to box height, or 175% */
    letter-spacing: 0.2px;

    /* Light text */
    color: #FFFFFF;
    padding: 18px 31px;
    background: #FA4A0C;
    border-radius: 10px;


}

.Hero-btn-2 {
    margin: 0 20px;
    border-radius: 15px;
    border: 1px solid white;
    padding: 18px 50px;
    background: #252B42;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;

    /* identical to box height, or 175% */
    letter-spacing: 0.2px;

    /* Light text */
    color: #FFFFFF;


}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer img {
    display: none;
}

.footer:first-child {
    display: none;
}

.logos {
    margin-top: 70px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    padding-left: 50px;
}

.logos img {
    margin: 0 10px;
    display: inline;
}

.footer-text {
    margin-bottom: 50px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;

    /* identical to box height, or 150% */

    letter-spacing: 0.1px;

    /* second text */
    color: #5C5C5C;
}

@media screen and (min-width: 1080px) {
    .content {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .content-text {
        max-width: 500px;
    }

    .reverse {
        flex-direction: row-reverse;
    }

    .footer {
        padding: 0 20px;
        flex-direction: row;
        justify-content: space-between;
    }

    .footer-text {
        position: relative;
        margin-bottom: 0px;
        top: 20px;
    }

    .footer img {
        display: block;
    }

    .download {
        background-image: url('Images/Website Elements/Rectangle 47.png');
    }

    .download-text {
        color: #FFFFFF;
    }

    .download-heading {
        margin-bottom: 20px;
    }

    .Hero-btn-2 {
        background: transparent;
    }

    .buttons {
        flex-direction: row;
        justify-content: center;
    }

    .buttons div {
        margin: 0 20px;
    }

    .main-heading {
        max-width: 70%;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 58px;
        line-height: 80px;
    }

    .nav-links {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 30%;
        margin-right: 40px;
    }

    .nav-links div {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 28px;

        /* identical to box height, or 175% */
        text-align: center;
        letter-spacing: 0.2px;

        /* text */
        color: #252B42;
    }

    .nav-links div:hover {
        color: #FA4A0C;
    }

    .nav-links div:first-child {
        color: #FA4A0C;
    }

    .hamburger-menu {
        display: none;
    }

    .heading-image {
        width: 100vw;
        background-image: url('Images/Website Elements/Rectangle 48.png');
        background-size: 700px;
    }

    .buttons {
        margin-bottom: 10em;
    }

    .tilted-phones {
        position: relative;
        bottom: 8em;
    }

    .divider-container {
        bottom: 200px;
    }

    .food-app-text,
    .main-heading,
    .sub-heading {
        color: #FFFFFF;
    }

    .buttons div:nth-child(2) {
        background: transparent;
        color: white;
        border: 1px solid white;
    }

    .divider {
        width: 70vw;
    }
}